BasedOnStyle: LLVM
IndentWidth: 2
Language: Cpp
PointerAlignment: Left
BraceWrapping:
  AfterFunction: true
  BeforeCatch: true
  BeforeElse: true
  AfterExternBlock: true
  AfterNamespace: true
  AfterControlStatement: true
BreakBeforeBraces: Custom
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
NamespaceIndentation: All
UseTab: Never
SpaceAfterCStyleCast: false
AllowShortFunctionsOnASingleLine: Inline
ColumnLimit: 100